<%= provide(:title, "News Archive") %>


<section class="section clearfix">
	<div class="container">
		<div class="row">
			<div class="style-2 mb-20 shadow bordered light-gray-bg news col-md-10">
				<iframe scrolling="no" seamless src="http://archive.constantcontact.com/fs049/1101613931941/archive/1101849137010.html" class="newsarchive-iframe text-center" ></iframe>
			</div>
		</div>
	</div>
</section>